.header{
    height: 55px;
    z-index: 2;
    flex-direction: row;
    justify-content: space-between; /*프로필 로고 간격 조절*/

    display: flex;
    position: absolute;
    width: 100%;
    
}

.left-section{
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}
.netflix-logo{
    height: 100px;
}

.profile-picture{
    height:50px;
}